<!DOCTYPE html>
<html>

<head>
<link rel = "stylesheet" href = "css/home.css">
    <meta charset = "utf-8">
</head>

<body>

<header class="titulo">

    <h1 class="letra-titulo"> RRP </h1>


</header>


 <div class="container-inicio">

<div class="texto-bienvenida">Bienvenid@ a RRP de <br>Diseño de Sistemas <br>2021

</div>

<div class="botones-iniciar">

    <button class="boton-inicio" type="button">Iniciar sesion</button>

    <button class="boton-registrar" type="button">Registrarse</button>

   </div>

 </div>

</body>
</html>