<!DOCTYPE html>
<html>

<head>
<link rel = "stylesheet" href = "css/iniciarSesion.css">
    <meta charset = "utf-8">
</head>

<body>

<header class="titulo">

    <h1 class="letra-titulo"> RRP </h1>
</header>


 <div class="container-inicio">

    <div class="contenedor">

    </div>
    <div class="usuario">

    </div>
     <div class="texto-usuario">Usuario

     </div>
     <div class="password">

     </div>
     <div class="texto-password">Contraseña

     </div>

     <button class="Boton" type="submit">Iniciar Sesion

     </button>
     <div class="texto-registrate">¿No tenes cuenta? Registrate

     </div>

 </div>

</body>
</html>