<!DOCTYPE html>
<html>

<head>
<link rel = "stylesheet" href = "css/menuUsuario.css">
    <meta charset = "utf-8">
</head>

<body>

<header class="titulo">

    <h1 class="letra-titulo"> RRP </h1>
</header>


 <div class="container-inicio">

    <div class="texto_usuario">Usuario: </div>
     <div class="datos-usuario"></div>
     <button class="boton-datos" type="">Actualizar datos</button>
     <button class="boton-foto" type="">Cargar Foto</button>
     <button class="boton-autorizacion" type="">Solicitar Autorizacion</button>
     <button class="boton-personas" type="">Reporte listado personas</button>
     <button class="boton-delegaciones" type="">Reporte listado delegaciones</button>

     <div class="linea"></div>
     <div class="texto-autorizacion">Autorizaciones pendientes</div>
     <div class="contenedor"></div>
     <div class="texto-solicitud">Solicitud de nombre</div>
     <button class="boton-aceptar" type="">Aceptar</button>
     <button class="boton-rechazar" type="">Rechazar</button>

 </div>

</body>
</html>