

*{
    background-color: #FFFBF2;
    margin: 0;
    padding: 0;
     box-sizing:  border-box;
}
html {
    font-size: 10px;
  }

h2{
    background-color: black;
    color: white;
    text-align: left;
}

.titulo{
    
    width: 100%;
    position: absolute;
    height: 148px;
    font-family: Copperplate Gothic;
    background: #FFEEBD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.letra-titulo{
    position: relative;
    margin-left: 5vw;
    background: #FFEEBD;
    height: 148px;
    font-family: Copperplate Gothic;
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 81px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}

.container-inicio{

    background: #FFFBF2;
    display: flex;
}

.contenedor{
    position: absolute;
    width: 574px;
    height: 436px;
    margin-left: 30vw;
    margin-top: 13.5vw;

    background: #FFF6DB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 66px;
}
.usuario
{
    position: absolute;
    width: 318px;
    height: 61px;

    margin-left: 40vw;
    margin-top: 20vw;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.texto-usuario
{
    position: absolute;
    width: 236px;
    height: 33px;

    margin-left: 41vw;
    margin-top: 21vw;

    font-family: Copperplate Gothic;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 27px;
    background: #FFFFFF;
    color: #BBBBBB;
}
.password
{
    position: absolute;
    width: 318px;
    height: 61px;

    margin-left: 40vw;
    margin-top: 26.5vw;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.texto-password
{
    position: absolute;
    width: 236px;
    height: 33px;

    margin-left: 41vw;
    margin-top: 27.5vw;

    font-family: Copperplate Gothic;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 27px;
    background: #FFFFFF;
    color: #BBBBBB;
}
.Boton
{
    font-family: Copperplate Gothic;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 27px;
    margin-left: 40vw;
    margin-top: 35vw;

    position: absolute;
    width: 318px;
    height: 62px;

    background: #FFDE81;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;

    border: none;
}

.texto-registrate
{
    background-color:#FFF6DB;
    margin-left: 41vw;
    margin-top: 41vw;

    position: absolute;
    width: 316px;
    height: 27px;

    font-family: Copperplate Gothic;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 27px;
     /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #656565;
}

