<!DOCTYPE html>
<html>

<head>
<link rel = "stylesheet" href = "css/actualizarFoto.css">
    <meta charset = "utf-8">
</head>

<body>

<header class="titulo">

    <h1 class="letra-titulo"> RRP </h1>


</header>


 <div class="container-inicio">

<div class="texto-bienvenida">Actualizar foto </div>

<div class="botones-iniciar">

    <button class="boton-foto" type="button">Arrastre su archivo aqui</button>

    <button class="boton-actualizar" type="button"> Actualizar </button>

   </div>

 </div>

</body>
</html>