<!DOCTYPE html>
<html>

<head>
<link rel = "stylesheet" href = "css/actualizarDatos.css">
    <meta charset = "utf-8">
</head>

<body>

<header class="titulo">

    <h1 class="letra-titulo"> RRP </h1>


</header>


 <div class="container-inicio">

<div class="texto-bienvenida">Actualizar datos: </div>

<div class="botones-iniciar">

    <button class="boton-fecha" type="button">Fecha nacimiento</button>

    <button class="boton-ciudad" type="button">Ciudad</button>

    <button class="boton-localidad" type="button">Localidad</button>

    <button class="boton-actualizar" type="button"> Actualizar </button>

   </div>

 </div>

</body>
</html>